
/*CHARACTER IMG SIZES*/
.character-img-size {
	width: auto;
	height: 6rem;
}

.character-div {
	padding-top: 3rem;
}

.row-img-padding {
	padding-top: 1rem;
}

.table-header-span {
	font-weight: normal;
}

.character-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.table-div {
	margin-top: 2rem;
}